@media (max-width: 979px) {
  .aui .dockbar .navbar-inner .container #_145_navAddControlsNavbarBtn, .aui .dockbar .navbar-inner .container #_145_navSiteNavigationNavbarBtn {
    display: none; }
  .aui .dockbar .navbar-inner .container .nav-account-controls {
    text-align: top; }
  .aui .dockbar .navbar-inner .container .brand {
    padding: 12px 0 0 0;
    line-height: 16px; }
    .aui .dockbar .navbar-inner .container .brand .control-panel-back-link {
      float: left;
      margin-top: 6px; }
  .aui .dockbar .navbar-inner .container .btn-navbar {
    float: right; }
  .aui .dockbar .navbar-inner .container .nav-account-controls > li:hover {
    background-color: transparent; } }
    @media (max-width: 979px) and (max-width: 767px) {
      .aui .dockbar .navbar-inner .container .brand .control-panel-back-link {
        margin: 0;
        padding: 6px 8px; } }
  @media (max-width: 979px) and (max-width: 767px) {
    .aui .dockbar .navbar-inner .container .brand h1 {
      height: 51px;
      margin-top: -5px;
      max-width: 165px;
      position: relative; }
      .aui .dockbar .navbar-inner .container .brand h1 a {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 75px; }
        .aui .dockbar .navbar-inner .container .brand h1 a .lfr-icon-menu-text {
          font-size: 18px; }
      .aui .dockbar .navbar-inner .container .brand h1 .control-panel-site-selector, .aui .dockbar .navbar-inner .container .brand h1 .site-administration-title {
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        font-size: 16px; }
      .aui .dockbar .navbar-inner .container .brand h1 .control-panel-site-selector {
        position: static; }
        .aui .dockbar .navbar-inner .container .brand h1 .control-panel-site-selector i {
          bottom: 4px;
          position: absolute;
          right: -15px; }
      .aui .dockbar .navbar-inner .container .brand h1 .divider {
        display: none; } }
  @media (max-width: 979px) and (min-width: 768px) and (max-width: 979px) {
    .aui .dockbar .navbar-inner .container .brand h1 {
      line-height: 32px; } }
@media (max-width: 767px) {
  .aui .control-panel-home-actions {
    display: none; } }
